@{
    ViewData["Title"] = "Add Book";
}

<div class="text-center">
    <h1>Add Book</h1>
</div>

<div align="center">
    <form method="POST">
        <label>Title:</label>
        <input id="book-title" name="title" type="text" />
        <input type="submit" />
    </form>
</div>